@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    91deg,
    rgb(86, 0, 97) -4.3%,
    rgb(18, 0, 43) 101.8%
  );
}

.dark {
  background-color: #000000;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #000000;
}